@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg, #2e2020, #1b1b1b, #28272c);
  font-family: "Playfair Display", serif;
}

/*Light theme*/
.lightThemeBg {
  background: linear-gradient(90deg, #f5f5f5, #f8e5e5, #dbdbdb);
}

.lightThemeText {
  color: #303030;
}

/*Running line*/
.marquee {
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  color: #303030;
  animation-name: marqueeLine;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/*Input*/
main {
  margin-top: 5rem;
}

.inputArea {
  display: flex;
  justify-content: center;
}

.inputArea input {
  height: 3rem;
  width: 20rem;
  padding: 0 0.5rem;
  border: none;
  border-radius: 0.1rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  background-color: #c7c7c7;
}

.inputArea input:focus {
  outline: none;
}

.inputArea input::placeholder {
  color: #B22727;
}

.inputArea button {
  padding: 0 2rem;
  margin-left: 0.2rem;
  font-size: 1.5rem;
  font-weight: regular;
  font-family: "Playfair Display", serif;
  border: none;
  border-radius: 0.1rem;
  background-color: #F4E06D;
}

.inputArea #themeBtn {
  padding: 0 1rem;
  background-color: #c7c7c7;
}

/*Tasks*/
main ul {
  margin-top: 3rem;
  list-style: none;
  font-size: 1.6rem;
  color: #c7c7c7;
}

main li {
  width: 100%;
  margin: 0 0 0 1rem;
}

.doneText {
  text-decoration: line-through;
  color: #303030;
}

.todo {
  display: flex;
  margin: auto;
  width: 31rem;
  justify-content: space-between;
  text-transform: capitalize;
}

.todo button {
  margin: auto;
  height: 2.5rem;
  padding: 0rem 1rem;
  font-size: 1rem;
  font-weight: regular;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  border: none;
  border-radius: 0.1rem;
  background-color: #F4E06D;
}
